<?xml version="1.0" encoding="UTF-8"?>
<!-- 引入Spring2文档声明 -->
<beans 
   xmlns="http://www.springframework.org/schema/beans" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation="http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 	<bean id="userDao" class="com.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="newDao" class="com.dao.NewDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="messageDao" class="com.dao.MessageDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="lineDao" class="com.dao.LineDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="forumDao" class="com.dao.ForumDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="picDao" class="com.dao.PicDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
   <bean id="loadDao" class="com.dao.LoadDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
</beans> 
	